.menu-food{
    position: relative;
    background-image: url("../img/menu/bg-menu.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 110px 0;
    overflow: hidden;
    .menu-wrapper{
        position: relative;
        padding: 70px 55px 49px 70px;
        border: 9px solid rgba(255,255,255,0.2);
        .menu-food-left{
            h2{
                position: relative;
                font-size: 45px;
                color: #ffffff;
                line-height: 46px;
                font-family: 'Dancing Script', cursive; 
            }
            p{
                color: #ffffff;
                margin-bottom: 40px;
                font-family: 'Roboto Slab', serif;          
            }
            .menu-carousel{
                .owl-nav{
                    position: relative;
                    .owl-prev{
                        height: 40px;
                        width: 40px;
                        position: absolute;
                        display: block;
                        cursor: pointer;
                        background: rgba(201,201,201,0.75);
                        margin-top: 20px;
                        left: 30px;
                        z-index: 100;
                        border: 1px solid rgba(255, 255, 255, 1);
                        &:hover{
                            background: #000;
                            span{
                                color: #fff;
                            }
                        }
                    }
                    .owl-next{
                        height: 40px;
                        width: 40px;
                        position: absolute;
                        display: block;
                        cursor: pointer;
                        background: rgba(201,201,201,0.75);
                        margin-top: 20px;
                        left: 90px;
                        z-index: 100;
                        border: 1px solid rgba(255, 255, 255, 1);
                        &:hover{
                            background: #000;
                            span{
                                color: #fff;
                            }
                        }
                    }
                }
                .owl-dots{
                    display: none;
                }
            }
        }
        .menu-food-right{
            h3{
                position: relative;
                color: #ffffff;
                font-size: 22px;
                font-weight: 400;
                margin-bottom: 22px;
                font-family: 'Roboto Slab', serif;
            }
            .food-items{
                display: flex;
                position: relative;
                margin-bottom: 20px;
                width: 100%;
                overflow: hidden;
                .img-box{
                    position: relative;
                    .new{
                        position: absolute;
                        left: 2px;
                        top: 2px;
                        line-height: 17px;
                        padding: 0px 11px;
                        font-size: 11px;
                        color: #333333;
                        background-color: #feb518;
                        font-family: 'Roboto', sans-serif;
                    }
                    img{
                        display: block;
                        border: 2px solid #313131;
                    }
                }
                ul{
                    margin-left: 20px;
                    .clearfix{
                        margin-top: 12px;
                        position: relative;
                        color: #333333;
                        font-size: 15px;
                        font-family: 'Roboto Slab', serif;
                        justify-content: space-between;
                        width: 100%;
                        .title-box{
                            a{
                                text-decoration: none;
                                color: #ffffff;
                                font-size: 15px;
                                font-weight: 400;
                                padding-right: 10px;
                            }
                        }
                        .dots{
                            color: #999999;
                            font-size: 13px;
                            
                        }
                        .price{
                            position: relative;
                            float: right;
                            color: #ffffff;
                            font-weight: 400;
                        }
                    }
                    .text{
                        color: #aaaaaa;
                        font-size: 13px;
                        text-align: left;
                        margin-top: 6px;
                        font-family: 'Roboto Slab', serif;
                    }
                }
            }
        }
    }
    .container{
        padding: 0;
    }
}