/* < !-- Fonts --> */
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap');
body{
    font-family: 'Roboto Slab',sans-serif;
}

ul,ol{
    list-style: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    position: relative;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    margin: 0px;
    background: none;
    line-height: 1.6em;
}
p {
    position: relative;
    line-height: 1.8em;
}  
.relative{
    position: relative;
}

/* < !-- IMPORT --> */
@import 'sass/loading';
@import 'sass/header';
@import 'sass/slider';
@import 'sass/restaurant';
@import 'sass/slogan';
@import 'sass/services';
@import 'sass/menu';
@import 'sass/special_dish';
@import 'sass/special_dish';
@import 'sass/gallery';
@import 'sass/delicious';
@import 'sass/testimonial';
@import 'sass/blog';
@import 'sass/footer';

// gallery pages
@import 'sass/gallery-pages';
// about pages
@import 'sass/about-us';
// menu pages
@import 'sass/menu-pages';
//  blog pages
@import 'sass/blog-pages';



